{% extends 'base.html' %}
{% block content %}

<!-- 


<img src="{% url 'gwanje:video_feed' %}" class="streaming-image" />

<style>
.streaming-image {
    width: 1200px;
    height: auto;
    border: 2px solid black;
}
</style> 



<div>
jetcobot_aa85
<img src="http://192.168.0.167:5000/stream"  />
</div>

<br>
<button onclick="capture()">캡처 & OCR</button>
<br>
<img id="ocrResultImg" style="max-width: 300px;">
<pre id="ocrText"></pre>


<div style="display: flex; align-items: flex-start;">

  <div style="flex: 1; padding: 10px;">
    <img src="http://192.168.0.167:5000/stream" id="live" style="max-width: 100%;">
    <br>
    <button onclick="capture()">캡처 & OCR</button>
  </div>

  <div style="flex: 1; padding: 10px;">
    <h3>OCR 결과 이미지</h3>
    <img id="ocrResultImg" style="max-width: 100%; border: 1px solid #ccc;">
    <h4>검출된 꼭짓점 좌표</h4>
    <pre id="ocrText" style="background: #f8f8f8; padding: 10px;"></pre>
  </div>
</div>
 -->



<!-- 
<script>


function capture() {
    fetch('/gwanje/ocr_from_flask_stream/')
        .then(res => res.json())
        .then(data => {
            document.getElementById("ocrResultImg").src = "data:image/jpeg;base64," + data.image;

            let resultText = '';
                data.results.forEach((item) => {
                let coords = item.coords.map(p => `(${p[0]}, ${p[1]})`).join(' ');
                resultText += `"${item.text}": ${coords}\n`;
            });
            document.getElementById("ocrText").textContent = resultText;
        });
}



</script>
 -->









{% if user.is_authenticated %}


<!-- <img src="{% url 'gwanje:video_feed' %}" width="1000" /> -->

<!-- <h3>Detected Markers</h3> -->
<!-- <ul id="marker-list"></ul> -->



{% endif %}

{% endblock %}